/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button, input, select, textarea {
		position: relative;
		-ms-behavior: url('css/ie/PIE.htc');
	}
	
	input, select, textarea {
		border: solid 1px #ccc;
	}

	/* Buttons */
		
	.button {
	}

	.button.down {
		text-indent: 0;
	}
	
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro { 
		background-size: cover;
		height:auto;
	}
	#intro:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}


	 #map-canvas { height: 100%; }
/*********************************************************************************/
/* One                                                                           */
/*********************************************************************************/

	#one {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../images/one.jpg');
		background-size: cover;
	}

		#one:before {
			content: '';
			background: url('../images/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* Two                                                                           */
/*********************************************************************************/

	#two {
		-ms-behavior: url('css/ie/backgroundsize.min.htc');
		background: url('../../images/two.jpg');
		background-size: cover;
	}

		#two:before {
			content: '';
			background: url('../images/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}